@import "tailwindcss";

/* Enable class-based dark mode in Tailwind v4 */
@variant dark (&:where(.dark, .dark *));

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  text-decoration: none !important;
}
