/* Smooth scrolling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html, * {
  font-family: 'Poppins', sans-serif;
}

html {
   scroll-behavior: smooth;
   overflow-x: hidden;
  
 }
 #root {
  overflow: hidden;
  background-color: #121212;
 }
.main-box {
   margin-top: 3.3rem;
   margin-left: 0;
   margin-right: 0;
   width: 100%;
   height: 100%;
}
 
 /* Projects Card Hover Effect */
 .card:hover {
   transform: scale(1.05);
   transition: transform 0.3s ease-in-out;
 }
 
 /* Form Styling */
 form {
   background: #f9f9f9;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 /* Home Section */
 


 